section{
  margin: 4px 24px 24px 24px;
  padding: 30px;
  border : 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 4px;
  color: var(--text-color-primary);
}

p{
  color: var(--text-color-secondary);
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  background-color: #f9f9f9;
  margin-bottom: 20px;
}

.field{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.title{
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: #ddd 1px solid;
}

.no-anotations {
  font-size: 16px;
  color: #999;
  margin-bottom: 20px;
}

.anotations {
  font-size: 16px;
  color: #333;
  margin-bottom: 20px;
}


.calification-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  margin-left: 20px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.calification{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
}
