@if (exercise) {

  <section>
    <h2>Descripción del ejercicio:</h2>
    <p> {{ exercise.description }} </p>

    <h2>Anotaciones:</h2>
    @if (!exercise.anotations) {
      <p class="no-anotations" >No hay anotaciones</p>
    }@else {
      <p class="anotations" > {{ exercise.anotations }} </p>
    }
  </section>

  <div class="download-buttons-container">
    <button (click)="downloadTxtFile('bind')">
      <i class="material-icons">download</i>
      Descargar ficheros de 'bind'
    </button>

    <button (click)="downloadTxtFile('compartir')">
      <i class="material-icons">download</i>
      Descargar ficheros de 'compartir'
    </button>

    <button (click)="downloadTxtFile('confbasica')">
      <i class="material-icons">download</i>
      Descargar ficheros de 'confbasica'
    </button>

    <button (click)="downloadTxtFile('dhcp')">
      <i class="material-icons">download</i>
      Descargar ficheros de 'dhcp'
    </button>

    <button (click)="downloadTxtFile('http')">
      <i class="material-icons">download</i>
      Descargar de 'http'
    </button>
  </div>

  <div>
    <input type="file">
    <button>
      <i class="material-icons">upload_file</i>
      Subir Solución
    </button>
  </div>

}


