@if (exercise) {

  <section>
    <h2>Descripción del ejercicio:</h2>
    <p> {{ exercise.description }} </p>

    <h2>Anotaciones:</h2>
    @if (!exercise.annotations) {
      <p class="no-anotations" >No hay anotaciones</p>
    }@else {
      <p class="anotations" > {{ exercise.annotations }} </p>
    }
  </section>

  <div class="download-buttons-container">
    <button (click)="downloadExcerciseFile()">
      <i class="material-icons">download</i>
      Descargar ficheros del ejercicio
    </button>

  </div>

  <div>
    <input id="file-upload" type="file" accept=".rar">
    <button (click)="uploadFiles()">
      <i class="material-icons">upload_file</i>
      Subir solución
    </button>
  </div>

}


