<div class="excersise-container">

  <h1>Ejercicios</h1>

  <button (click)="showSB()">Snackbar</button>

  <shared-snackbar
    title="Error"
    description="Error en la operación"
    type="error"
  ></shared-snackbar>

  <ul>
    @for (exce of list; track $index) {
      <shared-card
        [title]="'Ejercicio'"
        [description]="exce.description"
        [link]="'/professor/details'"
        [param]="exce._id"
      ></shared-card>
    }

  </ul>

</div>


<footer>

  <a [routerLink]="['/professor/create']" class="round-button">
    <i class="material-icons">add</i>
    Añadir
  </a>

</footer>
