ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px;
  padding: 20px;
  max-height: calc(3 * 300px + 2 * 20px); /* Limita a 3 filas de 300px de altura cada una, con 20px de gap entre filas */
  overflow-y: auto; /* Permite desplazamiento vertical si hay más de 3 filas */
}

a{
  margin-top: 5px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

a:hover {
  background-color: #45a049;
  cursor: pointer;
}

.round-button {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px;
  padding: 5px 12px 5px 5px;
  background-color: #4CAF50; /* Color de fondo */
  color: white; /* Color del icono */
  border: none; /* Sin borde */
  border-radius: 6px; /* Bordes redondeados para que sea circular */
  display: flex; /* Usar flexbox para centrar el contenido */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  font-size: 20px; /* Tamaño del icono */
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición suave para el color */
}

.round-button:hover {
  background-color: #45a049; /* Color al pasar el ratón */
}

.round-button i{
  font-size: 32px;
}

.card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.card h2 {
  margin-top: 0;
}

.card p {
  margin-bottom: 0;
}
