@if (this.solution) {
  <shared-snackbar></shared-snackbar>
  <section>

    <h1 class="head-title">Detalles de la solución</h1>

    <div>

      <div class="field">
        <h1>Autor:</h1>
      <span> {{ this.solution.student_id.full_name }} </span>
      </div>

      <div class="field">
        <h1>Grupo:</h1>
        <span> {{ this.solution.student_id.group }} </span>
      </div>

      <div class="field">
        <h1>Respuesta al ejercicio:</h1>
        <span> {{ this.solution.exercise_id.title }} </span>
        <a routerLink="/professor/exercise/details/{{ this.solution.exercise_id._id }}" class="exercise-link">Detalles del ejercicio</a>
      </div>

      <div class="field">
        @if (this.solution.evaluation !== 0) {
          <h1>Evaluación: </h1>
          <span> {{ this.solution.evaluation }} </span>
        } @else {
          <h1>Aún sin evaluación.</h1>
        }
      </div>

      <div class="field">
        @if (this.solution.anotations !== undefined) {
          <h1>Anotaciones:</h1>
          <span> {{ this.solution.anotations }} </span>
        } @else {
          <h1>No hay anotaciones en esta solución.</h1>
        }
      </div>

      <div class="field">
        <h1>Archivo de solución:</h1>
        <button (click)="onDownload()">
          <i class="material-icons">file_download</i>
          Descargar archivos
        </button>
      </div>

      <div class="field">
        <form ng [formGroup]="myForm" (ngSubmit)="onSubmit()">

          <input formControlName="evaluation" type="number">
          <span class="error" *ngIf="isValidField('evaluation')">La evaluacion es requerida y debe ser un numero entre 2 y 5.</span>

          <button (click)="calificateSolution()">
            @if (this.solution.evaluation === 0) {
              <i class="material-icons">check</i>
              Calificar
            } @else {
              <i class="material-icons">add</i>
              Recalificar
            }
          </button>
        </form>
      </div>

    </div>

  </section>

}
