section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100vh;
}

.left {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 0 10px;
}

ul {
  overflow-y: scroll;
  height: 75%;
}

.right {
  width: 70%;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;

  &:hover {
    background-color: rgb(199, 199, 199);
  }
  &:active {
    background-color: var(--primary-color);
  }
}

ul .selected {
  border: 1px solid var(--primary-color);
  & svg{
    color: var(--primary-color);
  }
}



input:focus{
  outline-color: var(--primary-color);
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  margin-top: 10px;
  padding: 10px;
}

textarea:focus {
  outline-color: var(--primary-color);
}

.save-file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.save-file button,
.left button {
  background-color: var(--button-primary);
  color: var(--text-color-white);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.left button {
  margin-top: 20px;
}

.save-file button:hover,
.left button:hover {
  background-color: var(--button-primary-hover);
}

.left input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 5px;
}
