@if (exercise) {
  <shared-snackbar></shared-snackbar>
  <section>
    <h2>Título del ejercicio:</h2>
    <p> {{ exercise.title }} </p>

    <h2>Descripción del ejercicio:</h2>
    <p> {{ exercise.description }} </p>

    <h2>Anotaciones:</h2>
    @if (!exercise.annotations) {
      <p class="no-anotations" >No hay anotaciones</p>
    }@else {
      <p class="anotations" > {{ exercise.annotations }} </p>
    }
  </section>

  <div class="actions">

    <div class="download-buttons-container">
      <button (click)="downloadExerciseFile()">
        <i class="material-icons">download</i>
        Descargar fichero del ejercicio
      </button>

    </div>
    @if (isStudent()) {
      <div class="upload-buttons-container">
        <h2>Subir tu solución</h2>
        <input id="file-upload" type="file" accept=".rar">
        <button (click)="uploadFiles()">
          <i class="material-icons">upload_file</i>
          Subir solución
        </button>
      </div>
    }

  </div>

}


