ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px;
  padding: 20px; /* Limita a 3 filas de 300px de altura cada una, con 20px de gap entre filas */
  max-height: calc(3 * 300px + 2 * 20px); /* Limita a 3 filas de 300px de altura cada una, con 20px de gap entre filas */
  overflow-y: auto; /* Permite desplazamiento vertical si hay más de 3 filas */
}

h1{
  margin-left: 24px;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color-primary);
  width: 100%;
}

.round-button {
  position: fixed;
  bottom: 20px; /* Distancia desde la parte inferior */
  right: 20px;
  padding: 5px 12px 5px 5px;
  background-color: var(--button-primary); /* Color de fondo */
  color: white; /* Color del icono */
  border: none; /* Sin borde */
  border-radius: 6px; /* Bordes redondeados para que sea circular */
  display: flex; /* Usar flexbox para centrar el contenido */
  align-items: center; /* Centrar verticalmente */
  justify-content: center; /* Centrar horizontalmente */
  font-size: 20px; /* Tamaño del icono */
  text-decoration: none;
  cursor: pointer; /* Cambiar el cursor al pasar el ratón */
  transition: background-color 0.3s; /* Transición suave para el color */
}

.round-button:hover {
  background-color: var(--button-primary-hover); /* Color al pasar el ratón */
  cursor: pointer;
}

.round-button i{
  font-size: 32px;
}


