<body>
  <shared-snackbar></shared-snackbar>
  <form [formGroup]="myForm" class="form-container" action="">

    <h1>Login</h1>

    <div>
      <label for="email">Email:</label>
      <input autocomplete="off" placeholder="nombre@ejemplo.com" formControlName="email" id="email" type="text">
      <span *ngIf="isValidField('email')" class="error">Email invalido</span>
    </div>

    <div>
      <label for="password">Contraseña:</label>
      <input autocomplete="off" formControlName="password" id="password" type="text">
      <!-- <span class="error"></span> -->
    </div>

    <div style="display: flex; align-items: center; justify-content: center; width: 100%;">
      <button (click)="onSubmit()" type="button">
        <i class="material-icons">login</i>
        Log in
      </button>
    </div>

    <hr>
    <div class="register-part">
      <span>¿No tienes cuenta?</span>
      <a routerLink="/register">
        <p>Registrate</p>
      </a>
    </div>


  </form>


  </body>
