<shared-snackbar></shared-snackbar>
@if (excersice) {

  <form [formGroup]="myForm" (ngSubmit)="onSave()" class="exercise-form">

    <div class="form-group">
      <label for="title">Título del ejercicio:</label>
      <input
        readonly formControlName="title" type="text" id="title" placeholder="Ingresa un título" required>
      <span *ngIf="isValidField('title')" class="error">título requerido</span>
    </div>

    <div class="form-group">
      <label for="description">Descripción del ejercicio:</label>
      <input
        readonly formControlName="description" type="text" id="description" placeholder="Ingresa la descripción" required>
        <span *ngIf="isValidField('description')" class="error">Descripción requerida</span>
      </div>

    <div class="form-group">
      <label for="annotations">Anotaciones:</label>
      <input readonly formControlName="annotations" type="text" id="annotations" placeholder="Ingresa anotaciones">
    </div>

    <div class="to-hide form-group hidden">
      <label for="exercise-files">Ficheros del ejercicio:</label>
      <input (change)="noExcerciseFile()" type="file" id="exercise-files">
      <!-- <span *ngIf="noExcerciseFile()" class="error">Archivo requerido</span> -->
    </div>

    <div class="to-hide form-group hidden">
      <label for="solution-files">Posible solución:</label>
      <input type="file" id="solution-files">
    </div>

    <div class="btn-container" (click)="onSave()">
      <span class="to-hide hidden" >
        <!-- <i class="material-icons">save</i> -->
        Guardar
      </span>

      <span id="edit-btn" (click)="onEdit()">
        <!-- <i class="material-icons">edit</i> -->
        Editar
      </span>

      <span class="delete-btn" id="delete-btn" (click)="onDelete()">
        <!-- <i class="material-icons">edit</i> -->
        Eliminar
      </span>

    </div>



  </form>

}
