<aside>

  <header>
    <h1>Menu</h1>
  </header>

  <hr>

  <nav>
    <ul>

      <span>
        <div routerLink="/student/pending">
          <li>
            <i class="material-icons">assignment</i>
            Ejercicios Pendientes
          </li>
        </div>
  
        <div routerLink="/student/finished">
          <li>
            <i class="material-icons">assignment_turned_in</i>
            Ejercicios Realizados
          </li>
        </div>
      </span>

      <div (click)="onLogout()">
        <li>
          <i class="material-icons">logout</i>
            Cerrar sesión
        </li>
      </div>

    </ul>
  </nav>
</aside>
