<aside>

  <header>
    <h1>Menu</h1>
  </header>

  <hr>

  <nav>
    <ul>
      <li>
        <i class="material-icons">assignment</i>
        <a routerLink="pending" routerLinkActive="active">Ejercicios Pendientes</a>
      </li>
      <li>
        <i class="material-icons">assignment_turned_in</i>
      <a routerLink="finished" routerLinkActive="active">Ejercicios Realizados</a>
      </li>
      <li>
        <a routerLink="enroll" routerLinkActive="active">X</a>
      </li>
      <li>
        <a routerLink="enrolled" routerLinkActive="active">Enrolled</a>
      </li>
    </ul>
  </nav>
</aside>
