header {
  text-align: start;
  margin: 10px 0px 10px 24px;
  opacity: 0.8;
}

hr{
  opacity: 0.2;
  align-self: center;
  width: 90%;
}

nav {
  height: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

aside {
  width: 100%;
  height: 100%;
  background-color: var(--sidebar-color);
  color: var(--text-color-white);
  display: flex;
  flex-direction: column;
}

aside div{
  margin: 10px 20px 10px 20px;
  padding: 10px 10px 10px 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

aside div:hover{
  background-color: var(--primary-accent-color);
  cursor: pointer;

  & i{
    color: var(--primary-color);
  }
}

aside li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  list-style: none;
}

aside a {
  color: var(--text-color);
  text-decoration: none;
  margin-left: 6px;
  border-radius: 4px;
}

