<shared-snackbar></shared-snackbar>

<form [formGroup]="myForm" (ngSubmit)="onSave()" class="exercise-form">

  <div class="form-group">
    <label for="title">Título del ejercicio:</label>
    <input
       formControlName="title" type="text" id="title" placeholder="Ingresa un título" required>
    <span *ngIf="isValidField('title')" class="error">título requerido</span>
  </div>

  <div class="form-group">
    <label for="description">Descripción del ejercicio:</label>
    <input
       formControlName="description" type="text" id="description" placeholder="Ingresa la descripción" required>
    <span *ngIf="isValidField('description')" class="error">Descripción requerida</span>
  </div>

  <div class="form-group">
    <label for="destine">Grupo de destino del ejercicio:</label>
    <input [readonly]="allStudents"
           formControlName="destine"
           type="text"
           id="destine"
           placeholder="Ingresa el grupo de destino"
           required>
    <span *ngIf="isValidField('destine') && !allStudents" class="error">Destino requerido</span>

    <div class="checkbox-container">
      <span>Enviar a todos los estudiantes</span>
      <input (change)="toggleAllStudents($event)" id="checkbox" type="checkbox">
    </div>
  </div>

  <div class="form-group">
    <label for="annotations">Anotaciones:</label>
    <input  formControlName="annotations" type="text" id="annotations" placeholder="Ingresa anotaciones">
  </div>

  <div class="form-group ">
    <label for="exercise-files">Ficheros del ejercicio:</label>
    <input (change)="noExerciseFile()" type="file" id="exercise-files">
    <span *ngIf="noExerciseFile()" class="error">Archivo requerido</span>
  </div>

  <div class="form-group ">
    <label for="solution-files">Posible solución:</label>
    <input type="file" id="solution-files">
  </div>

  <div class="btn-container" (click)="onSave()">
    <p>
      <i class="material-icons">save</i>
      Guardar
    </p>
  </div>

</form>


