ul {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Tres columnas */
  gap: 20px;
  padding: 20px;
  max-height: calc(3 * 300px + 2 * 20px); /* Limita a 3 filas de 300px de altura cada una, con 20px de gap entre filas */
  overflow-y: auto; /* Permite desplazamiento vertical si hay más de 3 filas */
}

h1{
  margin-left: 24px;
  font-size: 24px;
  font-weight: bold;
  color: var(--text-color-primary);
  width: 100%;
}

h3{
  font-size: 18px;
}

span{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}

.btn{
  margin-top: 5px;
  background-color: var(--button-primary); /* Green */
  border: none;
  color: white;
  padding: 8px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
}

.btn:hover {
  background-color: var(--button-primary-hover);
  cursor: pointer;
}

.card {
  background-color: #ffffff;
  /* border: 1px solid #ddd; */
  border-radius: 8px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  box-sizing: border-box;
  transition: transform 0.2s;
}

.field{
  margin-bottom: 5px;
}

.excercise-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.excersice-link{
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-color);
  text-decoration: underline;
}

.excersice-link:hover{
  color: var(--primary-color-hover);
  cursor: pointer;
}

.sp{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.author{
  width: 80%;
}

.calification-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.calification{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: white;
}
