<div class="solution-container">

  <h1>Soluciones</h1>

  <div class="filter-container" >

    <input id="search" type="text" placeholder="Buscar por nombre de estudiante">

    <select name="group" id="group" (change)="onGroupChange()">
      <option value="all">Todos los grupos</option>
      @for (group of gropus; track $index) {
        <option [value]="group">Grupo {{ group }}</option>
      }
    </select>
    
    <div class="toggle-container">
      <input type="checkbox" id="toggle" class="toggle-input" (change)="onEvaluateChange()" />
      <label for="toggle" class="toggle-label">
        <span class="toggle-button"></span>
      </label>
    </div>
    <p>Pendientes a evaluar</p>
    
  </div>
  
  <hr>

  <ul>

    @for (solution of solutions_aux; track $index) {

      <div class="card">

        <div class="field sp">

          <div class="author">
            <h3>Autor:</h3>
            <p>{{ solution.student_id.full_name }}</p>
            <span>Grupo: {{ solution.student_id.group }} </span>
          </div>

          <div [ngStyle]="{'background-color': calificationColor(solution.evaluation)}" class="calification-container">

            <div class="calification">
              @if (solution.evaluation === 0) {
                <i style="color: grey" class="material-icons">question_mark</i>
              } @else{
              <p [ngStyle]="{'color': calificationColor(solution.evaluation)}" > {{ solution.evaluation }} </p>
              }
            </div>

          </div>
        </div>

        <div class="exercise-container field">
          <div>
            <h3>Solución al ejercicio:</h3>
            <p>{{ solution.exercise_id.title }}</p>
          </div>
          <a routerLink="/exercise/details/{{ solution.exercise_id._id }}" class="exercise-link">Detalles del ejercicio</a>
        </div>

        <a class="btn" routerLink="/solution/details/{{ solution._id }}">Ver</a>

      </div>

    }

  </ul>

</div>
