<aside>

  <header>
    <h2>Menu</h2>
  </header>

  <hr>

  <nav *ngIf="role === 'professor'" class="professor">
    <ul>

      <span>
        <div routerLink="/exercise/professor">
          <li>
            <i class="material-icons">assignment</i>
            Ejercicios
          </li>
        </div>

        <div routerLink="/solution">
          <li>
            <i class="material-icons">assignment_turned_in</i>
            Soluciones
          </li>
        </div>

        <div routerLink="/exercise/wizard">
          <li>
            <i class="material-icons">settings</i>
            Generación de archivos
          </li>
        </div>

        <div routerLink="/exercise/config-files">
          <li>
            <i class="material-icons">settings</i>
            Edición avanzada
          </li>
        </div>

      </span>

    </ul>
  </nav>

  <nav *ngIf="role === 'student'" class="student">
    <ul>

      <span>
        <div routerLink="/exercise/student">
          <li>
            <i class="material-icons">assignment</i>
            Ejercicios Pendientes
          </li>
        </div>

        <div routerLink="/exercise/finished">
          <li>
            <i class="material-icons">assignment_turned_in</i>
            Ejercicios Realizados
          </li>
        </div>
      </span>

    </ul>
  </nav>

  <div (click)="onLogout()">
    <li>
      <i class="material-icons">logout</i>
        Cerrar sesión
    </li>
  </div>

</aside>


