<section>

  <aside class="sidebar">
    <nav>
      <ul>
        <li>
          <a routerLink="pending" routerLinkActive="active">Ejercicios Pendientes</a>
        </li>
        <li>
        <a routerLink="finished" routerLinkActive="active">Ejercicios Realizados</a>
      </li>
      <li>
        <a routerLink="enroll" routerLinkActive="active">X</a>
      </li>
      <li>
        <a routerLink="enrolled" routerLinkActive="active">Enrolled</a>
      </li>
    </ul>
  </nav>
</aside>
<div>
  <router-outlet></router-outlet>
</div>

</section>
