<body>

<form [formGroup]="myForm" class="form-container" action="">

  <h1>Registro</h1>

  <div>
    <label for="name">Nombre y Apellido:</label>
    <input placeholder="Nombre Apellido" formControlName="name" id="email" type="text">
    <span *ngIf="isValidField('name')" class="error">Debe ser formato "Nombre Apellido"</span>
  </div>

  <div>
    <label for="email">Email:</label>
    <input placeholder="nombre@ejemplo.com" formControlName="email" id="email" type="text">
    <span *ngIf="isValidField('email')" class="error">Email invalido</span>
  </div>

  <div>
    <label for="group">Grupo:</label>
    <input placeholder="example 3401" formControlName="group" id="password" type="text">
    <span  *ngIf="isValidField('group')" class="error">Grupo invalido</span>
  </div>

  <div>
    <label for="password">Contraseña:</label>
    <input formControlName="password" id="password" type="text">
    <span *ngIf="isValidField('password')" class="error">Debe tener al menos 8 caracteres</span>
  </div>

  <button (click)="onSubmit()" type="button">
    <i class="material-icons">how_to_reg</i>
    Registrarse
  </button>

  <hr>
  <div class="login-part">
    <span>¿Ya tienes cuenta?</span>
    <a routerLink="/login">
      <p>Login</p>
    </a>
  </div>

</form>


</body>
