
<form [formGroup]="myForm" (ngSubmit)="onSave()" class="exercise-form">
  <div class="form-group">
    <label for="description">Descripción del ejercicio:</label>
    <input
       formControlName="description" type="text" id="description" placeholder="Ingresa la descripción" required>
  </div>

  <div class="form-group">
    <label for="annotations">Anotaciones:</label>
    <input  formControlName="annotations" type="text" id="annotations" placeholder="Ingresa anotaciones">
  </div>

  <div class="form-group ">
    <label for="exercise-files">Ficheros del ejercicio:</label>
    <input type="file" id="exercise-files">
  </div>

  <div class="form-group ">
    <label for="solution-files">Posible solución:</label>
    <input type="file" id="solution-files">
  </div>

  <div class="btn-container" (click)="onSave()">
    <span>
      <i class="material-icons">save</i>
      Guardar
    </span>
  </div>

</form>


